<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User Registration</title>
</head>
    <body>
        <h1>Register as a new user</h1>

        <form th:action="@{/etf-search}" method="post">
            <div><label> Email: <input type="email" name="email"/> </label></div>
            <div><label> Username : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><label> Display Name: <input type="text" name="display_name"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>